.info {
  max-width: 1120px;
  color: #141212;
  margin: 30px 0;
}

.title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.description {
  font-family: "Merriweather", serif;
  line-height: 26px;
  min-height: 78px;
  font-size: 14px;
}
