.setting{
  padding-left: 80px;
}

.prevBtn {
  position: absolute;
  top: 40%;
  right: 90%;
}

.nextBtn {
  position: absolute;
  top: 40%;
  left: 90%;
}

.btn {
  background-color: #5367f8;
  border: 0;
  border-radius: 50%;
  color: #ffffff;
  padding: 8px 12px;
  outline: none;
}

.wrapper {
  background-color: #f5f5f5;
  height: 100vh;
}
