.image {
  width: inherit;
  height: inherit;
}

.btnsContainer {
  button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    background: #5367f8;
    font-size: 23px;
    color: #f5f5f5;
    transition: 0.5s color, 0.5s background;
  }

  :hover {
    background: #f5f5f5;
    color: #5367f8;
    border: 1px solid #5367f8;
  }

  :first-child {
    left: 3%;
  }

  :last-child {
    right: 0%;
  }
}
